.contact {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #dedede;
}
.contact:hover {
    background-color: #717171;
}
.options .option:nth-child(2n) {
    margin-left: 10px;
}
